.container{
  position: relative;
  width: 100vw;
  height: 10000px;

  .messageIcon{
    bottom: 30px;
    right: 30px;
    position: fixed;
    font-size:40px;
    color: rgb(255, 173, 73);
    z-index: 10;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
  }


  .bottomMenu{
    display: none;
    transform: translateY(200px);
    transform-origin: bottom;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100vw;
    height: 80px;
    background-color: white;
    z-index: 6;
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
 

    .bottomMenuWrap{
      padding: 0px 200px;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px;
      width: 100%;
    }
  }

  .bottomMenuOn{
    display: block;
    transform: translateY(0);
    transform-origin: bottom;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100vw;
    height: 80px;
    background-color: white;
    z-index: 6;
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
 

    .bottomMenuWrap{
      padding: 0px 200px;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 20px;
      width: 100%;
    }
  }
}