.container{
  position: relative;
  top: 500px;
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: center;
  transition: 5s ease-in-out;

  .wrap{
    position: relative;


    h1{

    }

  }
}